
<h1>List of Products</h1>

<% @products.each do |product| %>
  <section>
    <h2><%= product.name %></h2>
    <p>Description: <%= product.description %></p>
    <p>Price: <%= product.price_in_dollars %></p>
    <%= link_to 'Show', product_path(product) %>
  </section>
<% end %>
